@import "custom-bootstrap";
@import "~bootstrap/scss/bootstrap";

$hamburger-padding-x: 15px;
$hamburger-padding-y: 2px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #fff !default;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
.navbar-toggler.hamburger:not(.collapsed) {
  @extend .is-active;
}

button:focus {
  outline: none;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
}
